{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="container">
    <h1>{{ _("Hospitals' details") }}</h1>
    <hr class="title">

    {% if nodisp is not None %}
      <h2><font color="red">{{ _("Unavailable items") }}</font></h2>
      <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
        {% for hospital in nodisp %}
          {% if len(nodisp[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in nodisp[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if criticos is not None %}
      <h2><font color="red">{{ _("Items in a critical level") }}</font></h2>
      <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
        {% for hospital in criticos %}
          {% if len(criticos[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in criticos[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}
    <h2>{{ _("Patients stats") }}</h2>
    <table style="width:100%">
      <tr>
        <th><b>{{ _("Hospital") }}</b></th>
        <th><b>{{ _("Admitted") }} {{ _("(Covid)") }}</b></th>
        <th><b>{{ _("Admitted") }} {{ _("(Suspected of Covid)") }}</b></th>
        <th><b>{{ _("Admitted") }} {{ _("(Other)") }}</b></th>
        <th><b>{{ _("Discharged") }} {{ _("(Covid)") }}</b></th>
        <th><b>{{ _("Discharged") }} {{ _("(Other)") }}</b></th>
        <th><b>{{ _("Deceased") }} {{ _("(Covid)") }}</b></th>
        <th><b>{{ _("Deceased") }} {{ _("(Suspected of Covid)") }}</b></th>
        <th><b>{{ _("Deceased") }} {{ _("(Other)") }}</b></th>
      </tr>
      <tr>
        <th><b>{{ _("Total") }}</b></th>
        <th><b>{{p_ingresos['total']}}</b></th>
        <th><b>{{p_ingresos_sosp['total']}}</b></th>
        <th><b>{{p_ingresos_otros['total']}}</b></th>
        <th><b>{{p_alta['total']}}</b></th>
        <th><b>{{p_alta_otros['total']}}</b></th>
        <th><b>{{p_fallecidos['total']}}</b></th>
        <th><b>{{p_fallecidos_sosp['total']}}</b></th>
        <th><b>{{p_fallecidos_otros['total']}}</b></th>
      </tr>
      {% for hospital in p_ingresos %}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{p_ingresos[hospital]}}</th>
          <th>{{p_ingresos_sosp[hospital]}}</th>
          <th>{{p_ingresos_otros[hospital]}}</th>
          <th>{{p_alta[hospital]}}</th>
          <th>{{p_alta_otros[hospital]}}</th>
          <th>{{p_fallecidos[hospital]}}</th>
          <th>{{p_fallecidos_sosp[hospital]}}</th>
          <th>{{p_fallecidos_otros[hospital]}}</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    <h2>{{ _("Bed stats") }}</h2>
    <table style="width:100%">
      <tr>
        <th><b>{{ _("Hospital") }}</b></th>
        <th><b>{{ _("Total ICU beds") }}</b></th>
        <th><b>{{ _("Used") }} {{ _("(Covid)") }}</b></th>
        <th><b>{{ _("Used") }} {{ _("(Other)") }}</b></th>
        <th><b>{{ _("Unmet demand") }}</b></th>
      </tr>
      <tr>
        <th><b>{{ _("Total") }}</b></th>
        <th><b>{{c_uci['total']}}</b></th>
        <th><b>{{c_usadas['total']}}</b></th>
        <th><b>{{c_usadas_otras['total']}}</b></th>
        <th><b>{{c_insatis['total']}}</b></th>
      </tr>
      {% for hospital in c_uci %}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{c_uci[hospital]}}</th>
          <th>{{c_usadas[hospital]}}</th>
          <th>{{c_usadas_otras[hospital]}}</th>
          <th>{{c_insatis[hospital]}}</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    <h2>{{ _("Personnel stats") }}</h2>
    <table style="width:100%">
      <tr>
        <th><b>{{ _("Hospital") }}</b></th>
        <th><b>{{ _("Doctors") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</b></th>
        <th><b>{{ _("Nurses") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</b></th>
        <th><b>{{ _("Assistants") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</b></th>
        <th><b>{{ _("Respiratory therapists") }}<br>(en cuarentena / Covid+)</b></th>
      </tr>
      <tr>
        <th><b>{{ _("Hospital") }}</b></th>
        <th><b>{{medicos['total']}} ({{medicos_4['total']}} / {{medicos_c['total']}})</b></th>
        <th><b>{{enfermeros['total']}} ({{enfermeros_4['total']}} / {{enfermeros_c['total']}})</b></th>
        <th><b>{{auxiliares['total']}} ({{auxiliares_4['total']}} / {{auxiliares_c['total']}})</b></th>
        <th><b>{{ter_resp['total']}} ({{ter_resp_4['total']}} / {{ter_resp_c['total']}})</b></th>
      </tr>
      {% for hospital in medicos%}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{medicos[hospital]}} ({{medicos_4[hospital]}} / {{medicos_c[hospital]}})</th>
          <th>{{enfermeros[hospital]}} ({{enfermeros_4[hospital]}} / {{enfermeros_c[hospital]}})</th>
          <th>{{auxiliares[hospital]}} ({{auxiliares_4[hospital]}} / {{auxiliares_c[hospital]}})</th>
          <th>{{ter_resp[hospital]}} ({{ter_resp_4[hospital]}} / {{ter_resp_c[hospital]}})</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    {% if medios is not None %}
      <h2>{{ _("Items in a medium level") }}</h2>
      <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
        {% for hospital in medios %}
          {% if len(medios[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in medios[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if adecuados is not None %}
      <h2>{{ _("Items in proper condition") }}</h2>
      <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
        {% for hospital in adecuados %}
          {% if len(adecuados[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in adecuados[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if n_a is not None %}
      <h2>{{ _("Items without information") }}</h2>
      <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
        {% for hospital in n_a %}
          {% if len(n_a[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in n_a[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    <h2>{{ _("Latest updates") }}</h2>
    <table style="width:100%">
        <tr>
          <th><b>{{ _("Hospital") }}</b></th>
          <th><b>{{ _("Items" )}}</b></th>
        </tr>
      {% for hospital in actualizaciones %}
        <tr><th>{{display_name[hospital]}}</th><th>{{actualizaciones[hospital]}}</th></tr>
      {% end %}
    </table>
{% end %}
