{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="inicio">
  <h2>{{ _("ICU Monitoring") }} - Covid-19</h2>
  <hr class="title">
  <h4>
  <p>
    {{ _("Welcome, hospital manager") }} {{display_name}}.
  </p>
  <p>
   {{ _("This is a platform for real-time update of data on the status of ICUs related to the Covid-19 pandemic.") }}
  </p>
  <hr class="minor">
  <p>{{ _("To continue, select one of the options at the top of this page.") }}</p>
  </h4>
{% end %}
