{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="inicio">
  <h2>Acompanhamento das UTIs Covid-19</h2>
  <hr class="title">
  <h4>
  <p>
    Bem-vindo, responsável pelo hospital {{display_name}}.
  </p>
  <p>
   Esse é uma plataforma para atualização em tempo real de dados sobre a situação das UTIs relacionadas à pandemia de Covid-19.
  </p>
  <hr class="minor">
  <p>Para continuar, selecione uma das opções no topo dessa página.</p>
  </h4>
{% end %}
