{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block error_messages %}

  {% if status is not None %}
    {% if status == 'wrong_login' %}
      <h3><font color="red">Usuário/senha incorreto, tente novamente.</font></h3>
    {% end %}
  {% end %}

{% end %}

{% block content %}
<div class="inicio">
  <h1>Login</h1>
  <hr class="title">
  <form action="/login" method="post">
    <div class="form-group">
      <label>Usuário</label>
      <input type="text" class="form-control" name="user" placeholder="Hospital ou login">
      <small id="emailHelp" class="form-text text-muted">Nome como cadastrado no sistema.</small>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" class="form-control" name="clave" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
{% end %}
