{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="container">
    <h1>{{ _("Hospital") }} {{display_name}}</h1>
    <h4>{{ _("Last update") }} {{last_update}}</h4>

    <hr class="title">

    {% if len(nodisp) %}
      <h2><font color="red">{{ _("Available items") }}</font></h2>
        {% for item in nodisp %}
          <p><h3>{{item}}</h3></p>
        {% end %}

      <hr class="separator">
    {% end %}

    {% if len(criticos) %}
      <h2><font color="red">{{ _("Items in a critical level") }}</font></h2>
        {% for item in criticos %}
          <p><h3>{{item}}</h3></p>
        {% end %}

      <hr class="separator">
    {% end %}

    <h2>{{ _("Patients stats") }}s</h2>
    <table style="width:100%">
      <tr>
        <th>{{ _("Admitted") }} {{ _("(Covid)") }}</th>
        <th>{{ _("Admitted") }} {{ _("(Suspected of Covid)") }}</th>
        <th>{{ _("Admitted") }} {{ _("(Other)") }}</th>
        <th>{{ _("Discharged") }} {{ _("(Covid)") }}</th>
        <th>{{ _("Discharged") }} {{ _("(Other)") }}</th>
        <th>{{ _("Deceased") }} {{ _("(Covid)") }}</th>
        <th>{{ _("Deceased") }} {{ _("(Suspected of Covid)") }}</th>
        <th>{{ _("Deceased") }} {{ _("(Other)") }}</th>
      </tr>
      <tr>
        <th>{{p_ingresos}}</th>
        <th>{{p_ingresos_sosp}}</th>
        <th>{{p_ingresos_otros}}</th>
        <th>{{p_alta}}</th>
        <th>{{p_alta_otros}}</th>
        <th>{{p_fallecidos}}</th>
        <th>{{p_fallecidos_sosp}}</th>
        <th>{{p_fallecidos_otros}}</th>
      </tr>
    </table>

    <hr class="separator">

    <h2>{{ _("Bed stats") }}</h2>
    <table style="width:100%">
      <tr><th>{{ _("Total ICU beds") }}</th><th>{{ _("Used") }} {{ _("(Covid)") }}</th><th>{{ _("Used") }} {{ _("(Other)") }}</th><th>{{ _("Unmet demand") }}</th></tr>
      <th>{{c_uci}}</th>
      <th>{{c_usadas}}</th>
      <th>{{c_usadas_otras}}</th>
      <th>{{c_insatis}}</th>
    </table>

    <hr class="separator">

    <h2>{{ _("Personnel stats") }}</h2>
    <table style="width:100%">
      <tr>
          <th>{{ _("Doctors") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</th>
          <th>{{ _("Nurses") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</th>
      </tr>
      <tr>
          <th>{{medicos}} ({{medicos_4}} / {{medicos_c}})</th>
          <th>{{enfermeros}} ({{enfermeros_4}} / {{enfermeros_c}})</th>
      </tr>
      <tr><th></th><th></th></tr>
      <tr>
          <th>{{ _("Assistants") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</th>
          <th>{{ _("Respiratory therapists") }}<br>({{ _("in quarantine") }} / {{ _("Covid+") }})</th>
      </tr>
      <tr>
          <th>{{auxiliares}} ({{auxiliares_4}} / {{auxiliares_c}})</th>
          <th>{{ter_resp}} ({{ter_resp_4}} / {{ter_resp_c}})</th>
      </tr>
    </table>

    <hr class="separator">

    <h2>{{ _("Items in a medium level") }}</h2>
      {% for item in medios %}
        <p>{{item}}</p>
      {% end %}

    <hr class="separator">

    <h2>{{ _("Items in proper condition") }}</h2>
      {% for item in adecuados %}
        <p>{{item}}</p>
      {% end %}

    <hr class="separator">

    <h2>{{ _("Items without information") }}</h2>
      {% for item in n_a %}
        <p>{{item}}</p>
      {% end %}

{% end %}


{% block scripts %}
<script type="text/javascript" charset="utf8" src="/static/show.js">

</script>
{% end %}
