{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block error_messages %}

  {% if status is not None %}
    {% if status == 'success' %}
      <h3><font color="red">{{ _("Your password has been updated.") }}</font></h3>
    {% elif status == 'wrong_pwd' %}
      <h3><font color="red">{{ _("The original password is incorrect.") }}</font></h3>
    {% elif status == 'mismatch' %}
      <h3><font color="red">{{ _("The passwords do not match.") }}</font></h3>
    {% elif status == 'short' %}
      <h3><font color="red">{{ _("The new password is very short, try again.") }}</font></h3>
    {% elif status == 'error' %}
      <h3><font color="red">{{ _("An error has occurred. Please try again.") }}</font></h3>
    {% end %}
  {% end %}

{% end %}

{% block content %}
<div class="inicio">
  <h1>{{ _("COVID ICU Monitor") }} - {{ _("Login") }}</h1>
  <hr class="title">
  <h3>{{ _("Enter your original password and the new password. Each password must be at least 7 characters long.") }}</h3>
  <form action="/update_login" method="post">
    <h4>{{ _("Enter your original password") }}: <input type="password" name="clave_original"></h4>
    <h4>{{ _("Enter your new password") }}: <input type="password" name="clave_nueva_1"></h4>
    <h4>{{ _("Enter your new password again") }}: <input type="password" name="clave_nueva_2"></h4>
    <input type="submit" value="Ingresar">
  </form>
{% end %}
